.Upload{
    height: 100vh;
    width: 100%;
    background-color: #f7f9e8;
}
.Upload-main{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100%;
}
.upload-logo{
    position: absolute;
    top: -5%;
left: 50%;
transform: translate(-50%, -50%);
}
.upload-logo h5{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    font-size: 18px;
    color: #6A9C89;
    text-transform: uppercase;
    font-weight: 500;
}
.upload-logo img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 5rem;
}
.Upload-box{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    background-color: #D5E5D5;
    border-radius: 8px;
    padding: 2rem;
    position: relative;
}
.Upload-box label{
    padding: 10px;
}
.Upload-box input{
    background-color: #D5E5D5;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.upload-links{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   margin-top: 2rem;
}
.upload-links a{
   color: white;
   text-decoration: none;
   background-color:#6A9C89 ;
   padding: 10px 12px;
   border-radius: 8px;
}


.upload-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.upload-footer p{
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
}
.upload-footer p a{
    color: black;
    font-weight: 500;
    
    text-decoration: none;
}